KAFKA_WEB_TRAFFIC_SECRET="Y05ZLtvCqopUbMkG2LcC24MUWocNuTYVKp1pf1U7YrkjJg9VBS1PBdGuSt3rx+mD"
KAFKA_WEB_TRAFFIC_KEY="CAKHHIO74VLR7LYK"
IP_CODING_KEY= "46F75799A183250B4C0C5B370911B524"
# "MAKE AN ACCOUNT AT https://www.ip2location.io/ TO GET KEY"

KAFKA_GROUP=web-events
KAFKA_TOPIC=bootcamp-events-prod
KAFKA_URL=pkc-rgm37.us-west-2.aws.confluent.cloud:9092

FLINK_VERSION=1.16.0
PYTHON_VERSION=3.7.9



POSTGRES_URL="jdbc:postgresql://host.docker.internal:5432/postgres"
JDBC_BASE_URL="jdbc:postgresql://host.docker.internal:5432"
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
