[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chispa = "*"
pytest = "*"
pyspark = {extras = ["sql"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.10"
